@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* Aula 01 - 01/04/2023 */

body ul{
    margin: 0px;
    padding: 0px;
}
#header #menu a{
    color:black;
    text-decoration: none;
    font-family: 'Bruno Ace SC.+';
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
    margin-right: 1rem;

}
.linkMenu a:hover {
 font-size: 1.3em;
 transition: 0.3s;
 text-shadow: 4px 4px 6px black;
}

#header #menu a:hover {
    color: black;
    font-size: 1.3em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}

#log img a:hover {
    box-shadow: 4px 4px 6px #0000007a;
    transition: 0.3s;
}

#logo img {
 float: left;
 height: 45px;
 position: relative;
 top: 0px;
 left: 0px;
 border-radius: 200px; /* Criar bordar circular na imagem */
}
#header{
    width: 100%;
    position: relative;
    z-index: 90;
    box-sizing: border-box;
    height: 57px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 6px 6px 8px #0000007a;
    transition: 0.3s;

}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
display: none;

}
/*
#carouselExampleInterval {
 position: relative;
 z-index:   10;
 padding-top: 55px;
}
*/

#carouselExampleInterval .carousel-control-prev-icon {
    color: red;
}

#carouselExampleInnterval {
    position: relative;
    z-index: 10;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 6px 6px 8px black;
    transition: 0.3s;
    place-items: normal legacy;
    margin-block: 10px;
    height: auto;

}
#carouselExampleInteval .carousel-inner img {
    max-height: 550px;
    width: 100%;
    box-shadow: 6px 6px 8px #0000007a;
    transition: 0.3s;
}
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;        
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        gap: 0.5rem;
        background: none;
    }
    #hamburger {
        border-top: 3px solid; /*Melhorando o hamburger >> Espessura de cada linha */
        width: 35px;/*Melhorando o hamburger >> Largura */
        color: rgb(71, 71, 71);/*Melhorando a cor do hamburger >> */
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 35px; /*Melhorando o hamburger >> Largura*/
        height: 2px;
        background: currentColor;
        margin-top: 4px; /*Melhorando o hamburger >> Espaçamento entra o hamburguer */
        transition: 0.3s;
        position: relative;
        border-top: 3px solid; /*Melhorando o hamburger >> Espessura de cada linha*/
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}    

/* Estilo Css Banner */
.section-banner-home {
    width: 100%;
    height: 600px;
    margin-top: 0px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.05);
}
.section-banner-home img{
    height: 500px;
}
.section-banner-home .texto-banner{
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20x;
    color: black;

}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
}
.section-banner-home .texto-banner a {
    color: black;
    text-decoration: none;
    background-color: rgb(181, 203, 228);
    padding: 4px 14px;
    font-size: 18px;
}
.section-banner-home .texto-banner a:hover{
    color: black;
    text-shadow: 4px 4px 6px #0000007a;
    font-size: 15px;
    font-weight: bold;
}
/* Fim CSS Banner */

/* CSS Destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
 font-size: 13px;
 color: #000;
 text-decoration: none;
 font-weight: bold;
 text-align: center;
}
.destaque a {
 justify-content: center;
 display: flex;
 text-decoration: none;
 color: #30acbd;
 font-size: 18px;
 font-weight: bold;
 margin: 30px 0;

}
/* Fim CSS Destaque */

/* Css Novidades */

.novidades .text-body {
    width: 80%;
    margin: 70px auto;       
}
.novidades h2{
    color: #000;
    font-size: 26px;
    width: 70%;
}
.novidades a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: violet;
    padding:6px 12px;
    background-color: rgb(0, 68, 194);
    font-weight: 400;
}
/* Fim CSS Novidades */

/* Início CSS Galeria */

.galeria {
    margin: 60px auto 20px;    
}
.galeria h2 {
    text-align: center;
    font-size: 24px;    
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/* Fim CSS Galeria */

/* Início CSS Footer */


.rodape {
    padding: 50px 50px 0;    
}
.rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes_sociais {
    display: inline-block;
}
.rodape .redes_sociais img {
    width: 45px;
    height: 40px;
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}
